
.component-body-container {
    padding: 20px;
}

.custom-btn {
    padding: 10px;
    border: none;
    margin-right: 10px;
    text-transform: uppercase;
    width: 80px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property:box-shadow, transform;

}

.add-btn {
    background: #90ee90;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 30% auto;
    margin-bottom: 10px;
}

.heading-container {
    margin: 30px 0 30px 0;
    width: 100%;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.15rem;
    word-wrap: break-word;
    padding-right: 10px;
}

.name-heading, .phone-heading {
    font-size: 1rem;
    font-weight: 600;
    color: #808080;
    text-transform: uppercase;
} 

.custom-btn:hover, .custom-btn:focus, .custom-btn:active{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.back-btn{
    background: #87ceeb;
    color: white;
}
.delete-btn{
    background: #ff0000;
    color: white;
}